@font-face{
	font-family:yofont;
	src:url("./assets/img/iconfont/iconfont.woff") format("woff"),
		url("./assets/img/iconfont/iconfont.ttf") format("truetype");
}

@font-face{
	font-family:yofont;
	src:url("./assets/img/iconfont/iconfont-menu.woff") format("woff"),
		url("./assets/img/iconfont/iconfont-menu.ttf") format("truetype");
}

@font-face{
	font-family:yofont;
	src:url("./assets/img/iconfont/iconfont-back.woff") format("woff"),
		url("./assets/img/iconfont/iconfont-back.ttf") format("truetype");
}