@import './style/lib/core/reset';
@import './style/usage/core/swiper.css';
@import './style/usage/common/common';
@import './style/usage/index';
@import './style/usage/home';
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: 'Microsoft YaHei';
}
.app{
	@include flexbox;
	width: 100%;
	height: 100%;
}